<div *ngFor="let item of favorites">
    <p-checkbox class="mb-1" [(ngModel)]="selectedItems" [value]="item" [label]="item.title"
        [inputId]="item.id" (onChange)="AddToFavorite(item)"></p-checkbox>
</div>
<div *ngIf="AddTitleArea" class="my-2">
    <label> Title</label> <br>
    <input class="mt-1" type="text" pInputText [(ngModel)]="title" />
</div>
<div>
    <p-button *ngIf="!AddTitleArea" label="Create Title" [outlined]="true" (onClick)="AddTitleArea = !AddTitleArea"></p-button>
    <p-button *ngIf="AddTitleArea" label="Save" [outlined]="true" (onClick)="createFavorite()"></p-button>
</div>