<!-- Search Data Detail -->
<div *ngIf="companies.length == 0">
    <div class="bg-dark py-2"></div>
    <div class="container text-center pt-4 pb-5">
        <h1>Search Database</h1>
        <h3>WELCOME TO THE W1E HUB! A DATABASE FOR FILM & TV COMPANIES, ALONG WITH DOMESTIC 
            AND FOREIGN FUNDING OPPORTUNITIES.</h3>
        <div class="pt-2">
            
            <!-- TODO: Company Name -->
            <h3>West One Entertainment</h3>
            <span class="p-input-icon-right w-40">
                <input type="text" class="w-100" pInputText [(ngModel)]="searchValue" placeholder="Search" />
                <i class="pi pi-search cursor-pointer" (click)="getDataDetails()"></i>
            </span>
        </div>
    </div>
</div>

<!-- Filter Form Fields -->
<div class="bg-dark py-2">
    <div class="container">
        <form [formGroup]="filterForm">
            <div *ngIf="showFilter" class="row">
                <div class="col">
                    <label>Company Type</label>
                    <p-multiSelect [options]="categories"
                     formControlName="CategoryId"
                      optionLabel="name"
                      placeholder="Select Company"></p-multiSelect>
                    
                </div>
                    <!-- TODO: Should be Multiselect list -->
                    <!-- TODO: Region also be Multiselect list -->
                    <div class="col">
                        <label>Country</label>
                        <p-multiSelect [options]="countries"
                         formControlName="Country"
                          optionLabel="name"
                          placeholder="Select Countries"></p-multiSelect>
                    </div>
                    <div class="col">
                        <label>Region</label>
                        <p-multiSelect [options]="regions"
                         formControlName="Region"
                          optionLabel="name"
                          placeholder="Select Regions"></p-multiSelect>
                      </div>
                <div class="col col-12 text-center pt-2">
                    <button [disabled]="companyLoader" pButton (click)="getDataDetails()">
                        <p-progressSpinner *ngIf="companyLoader"></p-progressSpinner>
                        Search
                    </button>
                    <button class="ml-1" pButton (click)="showFilter = !showFilter">Hide Filter</button>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button *ngIf="!showFilter" pButton (click)="showFilter = !showFilter" label="Show Filter"></button>
        </div>
    </div>
</div>

<!-- Table start From here -->
<div *ngIf="companies.length > 0" class="container">
    <h1>Search results</h1>

    <p-table #companyTable [value]="companies" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="companyLoader" [paginator]="true"
        styleClass="p-datatable-striped p-datatable-sm" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of companyColumns" [pSortableColumn]="col.value" class="nowrap p-1"
                    style="width:20%">
                    {{col.name}}
                    <p-sortIcon [field]="col.value"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td *ngFor="let col of companyColumns" class="py-1">
                    <a *ngIf="col.name === 'COMPANY'; else rowValue"
                        [routerLink]="'/company/detail/' + product.companyId">{{product[col.value]}}</a>
                    <ng-template #rowValue>{{product[col.value]}}</ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="container">
    <app-test-table></app-test-table>
</div>