<!-- Search Data Detail -->
<div>
    <div class="bg-dark py-2"></div>
    <div class="container text-center pt-4 pb-5">
        <h1>Search Database</h1>
        <h3>WELCOME TO THE W1E HUB! A DATABASE FOR FILM & TV COMPANIES, ALONG WITH DOMESTIC
            AND FOREIGN FUNDING OPPORTUNITIES.</h3>
        <div class="pt-2">

            <!-- TODO: Company Name -->
            <h3>West One Entertainment</h3>
            <span class="p-input-icon-right w-40">
                <input type="text" class="w-100" pInputText [(ngModel)]="searchValue" placeholder="Search"
                    (keyup.enter)="getDataDetails()" />
                <i [class]="companyLoader ? 'pi cursor-pointer pi-spin pi-spinner' : 'pi cursor-pointer pi-search'"
                    (click)="getDataDetails()"></i>
            </span>
        </div>
    </div>
</div>

<!-- Filter Form Fields -->
<div class="bg-dark py-2">
    <div class="container">
        <form [formGroup]="filterForm">
            <div *ngIf="showFilter" class="row justify-center">
                <div class="col col-3">
                    <label>Company Type</label>
                    <p-multiSelect [options]="categories" formControlName="CategoryId" optionValue="id" [filter]="false"
                        [showToggleAll]="false" optionLabel="name" placeholder="Select Type"
                        [showClear]="true"></p-multiSelect>
                </div>

                <div class="col col-3">
                    <label>Country</label>
                    <p-multiSelect [options]="countries" formControlName="Country" optionValue="name" optionLabel="name"
                        [filter]="false" [showToggleAll]="false" placeholder="Select Country"
                        [showClear]="true"></p-multiSelect>
                </div>

                <div class="col col-3">
                    <label>Region</label>
                    <p-multiSelect [options]="regions" formControlName="Region" optionValue="name" optionLabel="name"
                        [filter]="false" [showToggleAll]="false" placeholder="Select Region"
                        [showClear]="true"></p-multiSelect>
                </div>

                <div class="col col-12 text-center pt-2">
                    <button [disabled]="companyLoader" pButton (click)="getDataDetails()">
                        <p-progressSpinner *ngIf="companyLoader"></p-progressSpinner>
                        Search
                    </button>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button *ngIf="!showFilter" pButton (click)="showFilter = !showFilter" label="Show Filter"></button>
        </div>
    </div>
</div>

<!-- Table start From here -->
<div class="container">
    <div class="row justify-space-between">
        <div class="col">
            <h1>Search results</h1>
        </div>
        <div class="col col-3 align-self-center form">
            <p-dropdown [options]="favorites" [(ngModel)]="selectedFavoriteList" optionLabel="title" filterBy="title"
                [showClear]="true" placeholder="Select a Favorite List" (onChange)="FilterChanged()">
            </p-dropdown>
        </div>
    </div>
    <div *ngIf="companies.length > 0">
        <p-table #companyTable [value]="companies" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]" (onPage)="onChangePage($event)" [loading]="companyLoader"
            [paginator]="true" styleClass="p-datatable-striped p-datatable-sm" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of companyColumns" [pSortableColumn]="col.value" class="nowrap p-1"
                        style="width:20%">
                        {{col.name}}
                        <p-sortIcon [field]="col.value"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td *ngFor="let col of companyColumns" class="py-1">
                        <div [ngSwitch]="col.value">
                            <a *ngSwitchCase="'name'" [routerLink]="GetDetailPageLink(product)">
                                {{product[col.value]}}
                            </a>
                            <span *ngSwitchCase="'website'">
                                <a *ngIf="ModifyUrl(product.website)" [href]="ModifyUrl(product.website)"
                                    target="_blank">
                                    {{product[col.value]}}
                                </a>
                            </span>

                            <p-button *ngSwitchCase="'action'" icon=" pi pi-heart" [rounded]="true" [text]="true"
                                severity="help" (onClick)="clickFavoriteBtn(product)"></p-button>

                            <span *ngSwitchDefault>{{product[col.value]}}</span>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div *ngIf="showFavoriteDialog">
    <p-dialog header="Favorite List" [(visible)]="showFavoriteDialog" [style]="{width: '300px'}">
        <app-add-to-favorite [company]="SelectedCompany"></app-add-to-favorite>
    </p-dialog>
</div>