<div *ngIf="!showDataTable">
    <div class="bg-dark py-2"></div>
    <div class="container text-center pt-4 pb-5">
        <h1>Search Database</h1>
        <h3>W1E Client/Vendor Database for Film and TV companies adn Funding opportunities</h3>
        <p>with 95 counteries, more than 875 funding programs and 165 production incentives</p>
        <div class="pt-2">
            <span class="p-input-icon-right w-40">
                <input type="text" class="w-100" pInputText [(ngModel)]="searchValue" placeholder="Search" />
                <i class="pi pi-search cursor-pointer" (click)="getDataDetails()"></i>
            </span>
        </div>
    </div>
</div>

<div class="bg-dark py-2">
    <div>
        <form [formGroup]="filterForm">
            <div *ngIf="showFilter">
                <div>
                    <label>Category</label> <br>
                    <p-dropdown [options]="categories" formControlName="CategoryId" dataKey="id"
                        optionLabel="name"></p-dropdown>
                </div>
                <div>
                    <label>Country</label> <br>
                    <input pInputText type="text" formControlName="Country" name="Country">
                </div>
                <div>
                    <label>Company</label> <br>
                    <input pInputText type="text" formControlName="Company" name="Company">
                </div>
                <div>
                    <label>Role</label> <br>
                    <input pInputText type="text" formControlName="Role" name="Role">
                </div>
                <div>
                    <label>Website</label> <br>
                    <input pInputText type="text" formControlName="Website" name="Website">
                </div>
                <div>
                    <button [disabled]="dataLoader" pButton (click)="getDataDetails()">
                        <span *ngIf="dataLoader; else search">Loading</span>
                        <ng-template #search>Search</ng-template>
                    </button>
                    <button class="btn-search" style="margin-left: 5px;" pButton type="submit"
                        (click)="showFilter = !showFilter">Hide
                        Filter</button>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button *ngIf="!showFilter" class="btn-filter" pButton type="submit" (click)="showFilter = !showFilter"
                label="Show Filter"></button>
        </div>
    </div>
</div>

<!-- Table start From here -->
<div class="card m-lr" *ngIf="showDataTable">
    <h1>Search Result</h1>

    <p-table [value]="dataTableDetails" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols" class="text-color fs">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr class="fs-w">
                <td *ngFor="let col of cols; let i = index" class="text-left">
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>