<div class="bg-dark py-2"></div>
<h1 class="text-center my-5">{{ company.name }}</h1>

<div class="bg-primary">
    <div class="container p-0">
        <div class="row">
            <div class="col col-6 p-1">
                <p-button routerLink="/" icon="pi pi-arrow-left" label="Back to list" [text]="true" [plain]="true"></p-button>
            </div>
            <div class="col col-6 text-right">
                <p-button icon=" pi pi-heart" [rounded]="true" [text]="true" severity="help"
                    (onClick)="clickFavoriteBtn()"></p-button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-8 text-justify" [innerHTML]="company.description">
        </div>
        <div class="col col-4">
            <div class="bg-light-grey p-1">
                <table>
                    <tr>
                        <th>Category:</th>
                        <td>{{ company.categoryName }}</td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td>{{ company.country }}</td>
                    </tr>
                    <tr>
                        <th>Region:</th>
                        <td>{{ company.region }}</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>{{ company.type }}</td>
                    </tr>
                    <tr>
                        <th>Website:</th>
                        <td>
                            <a [href]="company.website" target="_blank">{{ company.website }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="mb-1">Staff Members</h2>
    <table class="table-stripped">
        <thead>
            <tr>
                <th>Sr #</th>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of company.staffMembers; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.role }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.phone }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="showFavoriteDialog">
    <p-dialog header="Favorite List" [(visible)]="showFavoriteDialog" [style]="{width: '300px'}">
        <app-add-to-favorite [company]="company"></app-add-to-favorite>
    </p-dialog>
</div>